/* 
    Document   : style.css
    Created on : Nov 13, 2013, 1:25:20 PM
    Author     : patrickburns
*/

html{
    height: 100%;
}

body{
    height: 100%; 
    margin: 0; 
    padding: 0;
    color: #5a5a5a;
}

#map-canvas{
    height: 100%;
}

.custom_marker {
	background: #ffffff;
	border: 3px solid #c2e1f5;
        cursor: pointer;
        width:80px;
        height:80px;
        overflow:hidden;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
}

.custom_marker img{
    float:left;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.custom_marker span{
    background-color:#ffffff;
    border-width: 1px;
    border-color: #88b7d5;
    line-height: 1;
}

.navbar-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 20px;
    /*margin-bottom: -90px; */
}

.navbar-wrapper .navbar{

}

.navbar .navbar-inner{
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

.navbar .brand{
    padding: 14px 20px 16px; 
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.navbar .nav > li > a{
    padding: 15px 20px;
}

.navbar .btn-navbar{
  margin-top: 10px;
}

.control-bar{
    position: absolute;
    bottom:10px;
    left: 0;
    right: 0;
    z-index: 10;
    height:40px;
    /*margin-bottom: -90px; */
}

.control-bar .container{
    position: absolute;
    bottom:10px;
    left: 0;
    right: 0;
    z-index: 10;
    height:40px;
    /*margin-bottom: -90px; */
}

.button-container{
    float: left;
}

.slider-container{
    float:right;
    margin-top: 8px;
}

.slider-container span{
    margin-top: -8px;
}

@media (max-width: 979px){
    .container.navbar-wrapper{
        margin-bottom: 0;
        width: auto;
    }
    .navbar-inner{
        border-radius: 0;
        margin: -20px 0;
    }
}

@media (max-width: 767px){
    .navbar-inner {
        margin: -20px;
    }
}